.page {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
