.banner {
  /* max-height: 695px; */
  padding: 134px 0 200px;
  background-color: #f6bed9;
  background-image: url(../../images/header-pink.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
